.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #f9f7f4;
}
body {
  font-family: Roboto Flex;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #725450 !important;
}
.bg-success {
  background-color: #20ac6b !important;
}
.bg-info {
  background-color: #0aa3c2 !important;
}
.bg-warning {
  background-color: #cc9900 !important;
}
.bg-danger {
  background-color: #ae1e2c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #725450 !important;
  border-color: #725450 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #906a65 !important;
  border-color: #906a65 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #906a65 !important;
  border-color: #906a65 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #9290c6 !important;
  border-color: #9290c6 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #b3b2d7 !important;
  border-color: #b3b2d7 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b3b2d7 !important;
  border-color: #b3b2d7 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
}
.btn-success,
.btn-success:active {
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #725450;
  color: #725450;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #3f2e2c !important;
  background-color: transparent !important;
  border-color: #3f2e2c !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #725450 !important;
  border-color: #725450 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #9290c6;
  color: #9290c6;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #5a57a9 !important;
  background-color: transparent !important;
  border-color: #5a57a9 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #9290c6 !important;
  border-color: #9290c6 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0aa3c2;
  color: #0aa3c2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #065e70 !important;
  background-color: transparent !important;
  border-color: #065e70 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #20ac6b;
  color: #20ac6b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12633e !important;
  background-color: transparent !important;
  border-color: #12633e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #755800 !important;
  background-color: transparent !important;
  border-color: #755800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ae1e2c;
  color: #ae1e2c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #641119 !important;
  background-color: transparent !important;
  border-color: #641119 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #725450 !important;
}
.text-secondary {
  color: #9290c6 !important;
}
.text-success {
  color: #20ac6b !important;
}
.text-info {
  color: #0aa3c2 !important;
}
.text-warning {
  color: #cc9900 !important;
}
.text-danger {
  color: #ae1e2c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #362826 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #54519f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #105636 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #055161 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #664d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #570f16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #725450;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0aa3c2;
}
.alert-warning {
  background-color: #cc9900;
}
.alert-danger {
  background-color: #ae1e2c;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #725450;
  border-color: #725450;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #725450;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b19490;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #68e3aa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #55dbf6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffe599;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e56773;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #725450 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #725450;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #725450;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #725450;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #725450;
  border-bottom-color: #725450;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #725450 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #9290c6 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23725450' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uunXxA785A {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-uunXxA785A .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-uunXxA785A .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-uunXxA785A .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uunXxA785A .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-uunXxA785A .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uunXxA785A .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uunXxA785A .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-uunXxA785A .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-uunXxA785A .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-uunXxA785A .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-uunXxA785A .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-uunXxA785A .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-uunXxA785A .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-uunXxA785A .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-uunXxA785A .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-uunXxA785A .nav-link {
  width: fit-content;
  position: relative;
}
.cid-uunXxA785A .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-uunXxA785A .navbar-logo {
    padding-left: 0;
  }
}
.cid-uunXxA785A .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uunXxA785A .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-uunXxA785A .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-uunXxA785A .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-uunXxA785A .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uunXxA785A .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-uunXxA785A .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uunXxA785A .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-uunXxA785A .nav-item:focus,
.cid-uunXxA785A .nav-link:focus {
  outline: none;
}
.cid-uunXxA785A .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uunXxA785A .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uunXxA785A .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uunXxA785A .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uunXxA785A .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uunXxA785A .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uunXxA785A .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-uunXxA785A .navbar.opened {
  transition: all 0.3s;
}
.cid-uunXxA785A .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uunXxA785A .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-uunXxA785A .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-uunXxA785A .navbar.collapsed {
  justify-content: center;
}
.cid-uunXxA785A .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uunXxA785A .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uunXxA785A .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-uunXxA785A .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uunXxA785A .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uunXxA785A .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uunXxA785A .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uunXxA785A .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uunXxA785A .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uunXxA785A .navbar {
    min-height: 72px;
  }
  .cid-uunXxA785A .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-uunXxA785A .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uunXxA785A .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uunXxA785A .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uunXxA785A .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uunXxA785A .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uunXxA785A .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uunXxA785A .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-uunXxA785A .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uunXxA785A .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uunXxA785A .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-uunXxA785A .dropdown-item.active,
.cid-uunXxA785A .dropdown-item:active {
  background-color: transparent;
}
.cid-uunXxA785A .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uunXxA785A .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uunXxA785A .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uunXxA785A .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uunXxA785A .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-uunXxA785A .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-uunXxA785A ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uunXxA785A .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-uunXxA785A .navbar-buttons {
    text-align: left;
  }
}
.cid-uunXxA785A button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uunXxA785A button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uunXxA785A button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uunXxA785A button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uunXxA785A button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uunXxA785A button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uunXxA785A nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uunXxA785A nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uunXxA785A nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uunXxA785A nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uunXxA785A .navbar-dropdown {
  padding: 0 1rem;
}
.cid-uunXxA785A a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uunXxA785A .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uunXxA785A .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uunXxA785A .navbar {
    height: 70px;
  }
  .cid-uunXxA785A .navbar.opened {
    height: auto;
  }
  .cid-uunXxA785A .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uunXxA785A .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-uunXxA785A .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-uunXxA785A .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-uunXxA785A .navbar-brand {
    margin-right: auto;
  }
  .cid-uunXxA785A .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-uunXxA785A .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-uunXxA785A .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-uunXxA785A .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-uunXxA785A .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uunXxA785A .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-uunXxA785A .navbar-collapse {
    padding: 1rem;
  }
}
.cid-uunXxAiKPT {
  display: flex;
  background-image: url("../../../assets/images/coffee-500x312.jpg");
}
.cid-uunXxAiKPT .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-uunXxAiKPT {
    align-items: flex-end;
  }
  .cid-uunXxAiKPT .row {
    justify-content: flex-start;
  }
  .cid-uunXxAiKPT .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uunXxAiKPT .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uunXxAiKPT {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uunXxAiKPT .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uunXxAiKPT .content-wrap {
    width: 100%;
  }
}
.cid-uunXxAiKPT .mbr-fallback-image.disabled {
  display: none;
}
.cid-uunXxAiKPT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uunXxAiKPT .mbr-section-title,
.cid-uunXxAiKPT .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-uunXxAiKPT .mbr-text,
.cid-uunXxAiKPT .mbr-section-btn {
  text-align: left;
}
.cid-uunXxAiKPT .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-uunXxAjsCD {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uunXxAjsCD .mbr-fallback-image.disabled {
  display: none;
}
.cid-uunXxAjsCD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uunXxAjsCD .title .num {
  width: 100%;
  display: block;
}
.cid-uunXxAjsCD .title .card-title {
  z-index: 1;
}
.cid-uunXxAjsCD .num {
  color: #725450;
  text-align: center;
}
.cid-uunXxAjsCD .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uunXxAjsCD * {
    text-align: center !important;
  }
  .cid-uunXxAjsCD .content-column {
    margin-bottom: 2rem;
  }
}
.cid-uunXxAjsCD .content-head {
  max-width: 800px;
}
.cid-uunXxAjsCD .card-text {
  text-align: center;
}
.cid-uunXxAjsCD .card-title,
.cid-uunXxAjsCD .card-img {
  text-align: center;
}
.cid-uunXxAjUXO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uunXxAjUXO .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-uunXxAjUXO .panel-group {
  border: none;
}
.cid-uunXxAjUXO .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-uunXxAjUXO .card-header {
    padding: 0rem;
  }
}
.cid-uunXxAjUXO .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-uunXxAjUXO .img-col {
  padding: 0;
}
.cid-uunXxAjUXO .img-item {
  height: 100%;
}
.cid-uunXxAjUXO img {
  height: 100%;
  object-fit: cover;
}
.cid-uunXxAjUXO .collapsed span {
  transform: rotate(0deg);
}
.cid-uunXxAjUXO .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-uunXxAjUXO p {
  margin-bottom: 0.3rem;
}
.cid-uunXxAjUXO .panel-title-edit {
  color: #000000;
}
.cid-uunXxAjUXO .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-uunXxAjUXO .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-uunXxAjUXO .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uunXxAjUXO .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-uunXxAjUXO .panel-text {
  color: #000000;
}
.cid-uunXxAjUXO .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-uunXxAjUXO .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-uunXxAjUXO .panel-title-edit,
.cid-uunXxAjUXO .mbr-iconfont {
  color: #000000;
}
.cid-uunXxAjNlj {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-uunXxAjNlj .mbr-text {
  color: #725450;
}
.cid-uunXxAjNlj .mbr-section-subtitle {
  color: #000000;
}
.cid-uunXxAkm4b {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uunXxAkm4b .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-uunXxAkm4b .item-wrapper {
  margin-bottom: 2rem;
}
.cid-uunXxAkm4b .card-title,
.cid-uunXxAkm4b .iconfont-wrapper {
  color: #000000;
}
.cid-uunXxAkm4b .card-text {
  color: #725450;
  text-align: center;
}
.cid-uunXxAkm4b .content-head {
  max-width: 800px;
}
.cid-uunXxAkm4b .mbr-section-title {
  color: #000000;
}
.cid-uunXxAkm4b .card-title,
.cid-uunXxAkm4b .img-wrapper {
  text-align: center;
}
.cid-uunXxAkm4b .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-uunXxAlP1D {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: transparent;
}
.cid-uunXxAlP1D .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uunXxAlP1D .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-uunXxAlP1D .item-head {
  background: #725450;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uunXxAlP1D .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uunXxAlP1D .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-uunXxAlP1D .item-content {
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uunXxAlP1D .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uunXxAlP1D .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-uunXxAlP1D .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-uunXxAlP1D .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uunXxAlP1D .item-wrapper .item-footer {
    padding: 0 1.5rem 2rem;
  }
}
@media (min-width: 1201px) {
  .cid-uunXxAlP1D .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
.cid-uunXxAlP1D .btn {
  width: -webkit-fill-available;
}
.cid-uunXxAlP1D .item:focus,
.cid-uunXxAlP1D span:focus {
  outline: none;
}
.cid-uunXxAlP1D .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-uunXxAlP1D .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uunXxAlP1D .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-uunXxAlP1D .mbr-section-title {
  color: #725450;
}
.cid-uunXxAlP1D .mbr-section-subtitle {
  color: #ffffff;
}
.cid-uunXxAlP1D .mbr-text,
.cid-uunXxAlP1D .mbr-section-btn {
  text-align: left;
}
.cid-uunXxAlP1D .item-title {
  text-align: left;
  color: var(--primary-text, #ffffff);
}
.cid-uunXxAlP1D .item-subtitle {
  text-align: left;
  color: var(--primary-text, #ffffff);
}
.cid-uunXxAlP1D .content-head {
  max-width: 800px;
}
.cid-uup6JcRZYA {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uup6JcRZYA .mbr-fallback-image.disabled {
  display: none;
}
.cid-uup6JcRZYA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uup6JcRZYA .title .num {
  width: 100%;
  display: block;
}
.cid-uup6JcRZYA .title .card-title {
  z-index: 1;
}
.cid-uup6JcRZYA .num {
  color: #9fe870;
}
.cid-uup6JcRZYA .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uup6JcRZYA .item-mb {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uup6JcRZYA * {
    text-align: center !important;
  }
  .cid-uup6JcRZYA .content-column {
    margin-bottom: 2rem;
  }
}
.cid-uup6JcRZYA .content-head {
  max-width: 800px;
}
.cid-uup6JcRZYA .card-text {
  color: #725450;
}
.cid-uup6JcRZYA .mbr-section-title,
.cid-uup6JcRZYA .card-box {
  color: #725450;
}
.cid-uupt8IIPvw {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uupt8IIPvw .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uupt8IIPvw .item {
    margin-bottom: 1rem;
  }
}
.cid-uupt8IIPvw .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-uupt8IIPvw .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-uupt8IIPvw .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-uupt8IIPvw .item-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.cid-uupt8IIPvw .carousel-control,
.cid-uupt8IIPvw .close {
  background: #1b1b1b;
}
.cid-uupt8IIPvw .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-uupt8IIPvw .carousel-control-prev span {
  margin-right: 5px;
}
.cid-uupt8IIPvw .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-uupt8IIPvw .carousel-control-next span {
  margin-left: 5px;
}
.cid-uupt8IIPvw .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-uupt8IIPvw .close::before {
  content: '\e91a';
}
.cid-uupt8IIPvw .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-uupt8IIPvw .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-uupt8IIPvw .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uupt8IIPvw .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uupt8IIPvw .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-uupt8IIPvw .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-uupt8IIPvw .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-uupt8IIPvw .carousel-indicators li.active,
.cid-uupt8IIPvw .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-uupt8IIPvw .carousel-indicators li::after,
.cid-uupt8IIPvw .carousel-indicators li::before {
  content: none;
}
.cid-uupt8IIPvw .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-uupt8IIPvw .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-uupt8IIPvw .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uupt8IIPvw .carousel-indicators {
    display: none;
  }
}
.cid-uupt8IIPvw .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-uupt8IIPvw .carousel-inner > .active {
  display: block;
}
.cid-uupt8IIPvw .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uupt8IIPvw .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-uupt8IIPvw .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-uupt8IIPvw .carousel-control,
  .cid-uupt8IIPvw .carousel-indicators,
  .cid-uupt8IIPvw .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-uupt8IIPvw .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-uupt8IIPvw .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-uupt8IIPvw .carousel-indicators .active,
.cid-uupt8IIPvw .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-uupt8IIPvw .carousel-indicators .active {
  background: #fff;
}
.cid-uupt8IIPvw .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-uupt8IIPvw .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-uupt8IIPvw .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-uupt8IIPvw .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-uupt8IIPvw .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-uupt8IIPvw .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-uupt8IIPvw .carousel {
  width: 100%;
}
.cid-uupt8IIPvw .modal-backdrop.in {
  opacity: 0.8;
}
.cid-uupt8IIPvw .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-uupt8IIPvw .modal.fade .modal-dialog,
.cid-uupt8IIPvw .modal.in .modal-dialog {
  transform: none;
}
.cid-uupt8IIPvw .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-uupt8IIPvw .content-head {
  max-width: 800px;
}
.cid-uupt8IIPvw H3 {
  color: #725450;
}
.cid-uunXxAwEBN {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uunXxAwEBN .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uunXxAwEBN img,
.cid-uunXxAwEBN .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-uunXxAwEBN .item:focus,
.cid-uunXxAwEBN span:focus {
  outline: none;
}
.cid-uunXxAwEBN .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uunXxAwEBN .item {
    margin-bottom: 1rem;
  }
}
.cid-uunXxAwEBN .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uunXxAwEBN .mbr-section-title {
  color: #725450;
}
.cid-uunXxAwEBN .mbr-text,
.cid-uunXxAwEBN .mbr-section-btn {
  color: #232323;
}
.cid-uunXxAwEBN .item-title {
  color: #232323;
  text-align: left;
}
.cid-uunXxAwEBN .content-head {
  max-width: 800px;
}
.cid-uuoucaXq5n {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #725450;
}
.cid-uuoucaXq5n .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuoucaXq5n .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuoucaXq5n .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-uuoucaXq5n .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uuoucaXq5n .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uuoucaXq5n .card-wrapper {
    padding: 4rem;
  }
}
.cid-uuoucaXq5n .mbr-text,
.cid-uuoucaXq5n .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-uuoucaXq5n .card-title,
.cid-uuoucaXq5n .card-box {
  text-align: center;
  color: #725450;
}
.cid-uuoucaXq5n .mbr-card-title {
  text-align: left;
}
.cid-uuoucaXq5n .mbr-card-subtitle {
  text-align: left;
}
.cid-uuoucaXq5n .mbr-text {
  text-align: left;
}
.cid-uuoucaXq5n .mbr-section-subtitle {
  text-align: center;
}
.cid-uunXxAx4lK {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-uunXxAx4lK .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-uunXxAx4lK img,
.cid-uunXxAx4lK .item-img {
  width: 100%;
}
.cid-uunXxAx4lK .item:focus,
.cid-uunXxAx4lK span:focus {
  outline: none;
}
.cid-uunXxAx4lK .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-uunXxAx4lK .item {
    margin-bottom: 1rem;
  }
}
.cid-uunXxAx4lK .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uunXxAx4lK .mbr-section-title {
  color: #725450;
}
.cid-uunXxAx4lK .mbr-text,
.cid-uunXxAx4lK .mbr-section-btn {
  color: #000000;
}
.cid-uunXxAx4lK .item-title {
  color: #000000;
  text-align: center;
}
.cid-uunXxAx4lK .content-head {
  max-width: 800px;
}
.cid-uunXxAJwDx {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: transparent;
}
.cid-uunXxAJwDx .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uunXxAJwDx form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uunXxAJwDx form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uunXxAJwDx form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uunXxAJwDx .content-head {
  max-width: 800px;
}
.cid-uunXxAKy4n .main_wrapper {
  position: relative;
  height: 800px;
  width: 100%;
}
.cid-uunXxAKy4n .b_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 991px) {
  .cid-uunXxAKy4n .b_wrapper {
    position: relative;
    width: 100%;
    height: auto !important;
    flex-direction: column;
  }
}
.cid-uunXxAKy4n .row {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-uunXxAKy4n .container-fluid {
    padding: 0;
  }
}
.cid-uunXxAKy4n ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-uunXxAKy4n .item-wrapper {
  height: 100%;
  background-color: #ffffff;
  pointer-events: fill;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uunXxAKy4n .item-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 991px) {
  .cid-uunXxAKy4n .item-wrapper {
    width: 100%;
    position: relative;
    padding: 2rem;
    border-radius: 0px !important;
  }
}
@media (max-width: 767px) {
  .cid-uunXxAKy4n .item-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-uunXxAKy4n .google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.cid-uunXxAKy4n .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
}
.cid-uunXxAKy4n .google-map [data-state-details] {
  color: #edefeb;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uunXxAKy4n .google-map[data-state] {
  background: #edefeb;
}
.cid-uunXxAKy4n .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 991px) {
  .cid-uunXxAKy4n .google-map {
    position: static;
  }
}
.cid-uunXxAKy4n .cardTitle {
  color: #725450;
}
.cid-uuptnShyD4 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uuptnShyD4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuptnShyD4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuptnShyD4 .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-uuptnShyD4 .bg-facebook:hover {
  background: #0b60cb;
}
.cid-uuptnShyD4 .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-uuptnShyD4 .bg-instagram:hover {
  background: #bd005c;
}
.cid-uuptnShyD4 .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-uuptnShyD4 .bg-tiktok:hover {
  background: #000000;
}
.cid-uuptnShyD4 .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-uuptnShyD4 [class^="socicon-"]:before,
.cid-uuptnShyD4 [class*=" socicon-"]:before {
  line-height: 55px;
  padding: 0.6rem;
}
.cid-uuptnShyD4 .mbr-section-title,
.cid-uuptnShyD4 .social-list {
  color: #725450;
}
.cid-uunXxAK2Dg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #725450;
}
.cid-uunXxAK2Dg .mbr-fallback-image.disabled {
  display: none;
}
.cid-uunXxAK2Dg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uunXxAK2Dg .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-uunXxAK2Dg .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-uunXxAK2Dg .row {
    flex-direction: column-reverse !important;
  }
  .cid-uunXxAK2Dg .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-uunXxAK2Dg .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uunXxAK2Dg .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-uunXxAK2Dg .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-uunXxAK2Dg .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-uunXxAK2Dg .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-uunXxAK2Dg .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-uunXxAK2Dg .copyright {
    text-align: center;
  }
}
